<h1 align=center><font size = 14>...</font></h1>

<h1 align=center><font size = 8> Cousera (Applied Data Science) Capstone Project W1</font></h1>

<h1 align=left><font size = 4> This IPython notebook contains code and is annotated to answer question from the first part of the above assignment. Here we focus on how to search for, select, mine and upload potential data as well as store and clean dataframes with pandas and nympy. The outcome and notebook itself, will be used in the creation of a deliverable, a blog post. The blog post and other deliverables are part of the later half of the assignment and will be available a week after this submission.  </font></h1>


<h1 align=center><font size = 8>The Battle of Neighborhoods: Week 1</font></h1>


<h1 align=left><font size = 8></font>Table of Contents:</h1>

<h1 align=left><font size = 5></font>1. Business problem (15 marks)</h1>

<h1 align=left><font size = 5></font>2. Data (15 marks)</h1>

<h1 align=left><font size = 5></font>3. Collaborate.(15 marks)</h1>

<h1 align=center><font size = 14>...</font></h1>

<h1 align=center><font size = 12>.________________________________________________________________________.</font></h1>

<h1 align=center><font size = 6> 1. Business problem (15 marks)</font></h1>


<h1 align=center><font size = 6>Here is a presentation of the business case: 'Relocation Options'. </font></h1>


### A relocation adviser has to make recommendations to person who has two job offers, one in Manhattan, New York and another in York, Toronto. 

The client is Parisian and would like to maintain their lifestyle. 

- They want to keep the habit of taking walks in gardens and 
- is picky eater (they only eat at French restaurants),  
- wants to be in a crime free environment and
- most of all away from congestion and public transport problems!

They are undecided as both jobs are equally attractive and money is not a problem for the client and in addition both cities are very diverse and are the financial capitals of their respective countries. But the “big city buzz” though comparable to Paris, with prestigious hubs with a wealth of recreational activity is prone to have high levels of crime, congestion and public transport problems than would be deemed uncomfortable for the client. So we will compare the both the types of venues their neighborhoods have to offer to determine their similarity to Paris and as these results only look at  recreational activities, use the EIU’s World’s Most Liveable City index to weight in on the choice of:  

- Whether Manhattan, New York or York, Toronto be a better home away from home from Reuilly, Paris?


## Interested and Affected Parties, IAPs. 

- Although at a beginner Level, these Data Science tools and the shared data set allow for a powerful virtual play ground for data exploration, so please do fork on Gitbub and collaborate!!!

This notebook is approachable enough to be replicated it can be used for collaboration and to expanding the business problem of relocation options used here, or another probem or opportunity that needs geo-coordinates.  It was prepared for an assignment for a course on **Coursera** called *Applied Data Science Capstone*, you can take this course online by clicking [here](http://cocl.us/DP0701EN_Coursera_Week3_LAB2).

<h1 align=center><font size = 12>.________________________________________________________________________.</font></h1>


<h1 align=center><font size = 6>2. Data (15 marks)</font></h1>

<h1 align=center><font size = 4>The stem data was sourced rom two tables , both of which have been converted to pandas dataframes then manipulated in this Lab. The data generated in this lab as well as relevant data generated in two previous Labs have been cleaned and stored as csv files with geo-location coordinates, their corresponding IPython notebooks and maps in html format can be forked at Github</font></h1>

## Data Sources & Types: 

#### The data to be used, in the second part of the assignment, to cluster and compare the three cities are available on Github.


In prior labs these two cleaned data sets were created, you can download them from Github they have a list of the following neighborhoods with their geo-ordinates as well as venues, gleaned with the Folium App.  

- Manhattan, New York & York, Toronto Neighborhoods. 


## Data from this notebook as well as the accompanying data sets and outputs is also available on this [Github repository](https://github.com/lindangulopez/Coursera_Capstone)

## Stem Data Sources: 

## A Wikipedia [Table]( https://en.wikipedia.org/wiki/Quarters_of_Paris). 

The city of Paris is divided into twenty, administrative districts, referred to as Arrondissements. The number of the Arrondissement, the equivalent of boroughs, is indicated by the last two digits in of it postal codes, from 75001 up to 75020. The client lives in the 12th  Arrondissement of Paris close to 'Parc de Bercy' and is attached to its park and the nearby restaurants. This borough is called Reuilly and is situated on the right bank of the river Seine. Each of Paris' 20 boroughs are divided into 4 quartiers, the equivalent of neighborhoods. He lives in the 49th quarter, which is the Bercy neighborhood. 

We will scrape the data from the following web page:

- when inspect the page we find that what we are looking for is the Wikipedia 'Arrondissements'Table where we find this sort of information

 <table class="wikitable centre">
       <tbody>
        <tr>
         <th>
          <a href="/wiki/Arrondissements_of_Paris" title="Arrondissements of Paris">
           Arrondissement
          </a>
          <br/>
          (Districts)
         </th>
         <th colspan="2">
          Quartiers
          <br/>
          (Quarters)
         </th>
         <th>
          Population in
          <br/>
          1999
          <sup class="reference" id="cite_ref-APUR_3-0">
           <a href="#cite_note-APUR-3">
            [3]
           </a>
          </sup>
         </th>
         <th>
          Area
          <br/>
          (hectares)
          <sup class="reference" id="cite_ref-APUR_3-1">
           <a href="#cite_note-APUR-3">
            [3]
           </a>
          </sup>
         </th>
         <th>
          Map
         </th>
        </tr>
        <tr>
         <td rowspan="4">
          <a href="/wiki/1st_arrondissement_of_Paris" title="1st arrondissement of Paris">
           1st arrondissement
          </a>
          <br/>
          (Called "du Louvre")
         </td>
         <td align="right">
          1st
         </td>
         <td>
          <a class="new" href="/w/index.php?title=Quartier_Saint-Germain-l%27Auxerrois&amp;action=edit&amp;redlink=1" title="Quartier Saint-Germain-l'Auxerrois (page does not exist)">
           Saint-Germain-l'Auxerrois
          </a>
         </td>
         <td align="right">
          1,672
         </td>
         <td align="right">
          86.9
         </td>
         <td rowspan="4">
          <a class="image" href="/wiki/File:Quartiers_of_Paris_1er_arrondissement.svg">
           <img alt="Quartiers of Paris 1er arrondissement.svg" data-file-height="466" data-file-width="572" decoding="async" height="98" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Quartiers_of_Paris_1er_arrondissement.svg/120px-Quartiers_of_Paris_1er_arrondissement.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Quartiers_of_Paris_1er_arrondissement.svg/180px-Quartiers_of_Paris_1er_arrondissement.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Quartiers_of_Paris_1er_arrondissement.svg/240px-Quartiers_of_Paris_1er_arrondissement.svg.png 2x" width="120"/>
          </a>
         </td>
        </tr>
        <tr>
         <td align="right">
          2nd
         </td>
         <td>
          <a class="new" href="/w/index.php?title=Quartier_des_Halles_(Paris)&amp;action=edit&amp;redlink=1" title="Quartier des Halles (Paris) (page does not exist)">
           Les Halles
          </a>
         </td>
         <td align="right">
          8,984
         </td>
         <td align="right">
          41.2
         </td>
        </tr>
        <tr>
         <td align="right">
          3rd
         </td>
         <td>
          <a class="new" href="/w/index.php?title=Quartier_du_Palais-Royal&amp;action=edit&amp;redlink=1" title="Quartier du Palais-Royal (page does not exist)">
           Palais-Royal
          </a>
         </td>
         <td align="right">
          3,195
         </td>
         <td align="right">
          27.4
         </td>
        </tr>
        <tr>
         <td align="right">
          4th
         </td>
         <td>
          <a class="new" href="/w/index.php?title=Quartier_de_la_Place-Vend%C3%B4me&amp;action=edit&amp;redlink=1" title="Quartier de la Place-Vendôme (page does not exist)">
           Place-Vendôme
          </a>
         </td>
         <td align="right">
          3,044
         </td>
         <td align="right">
          26.9
         </td>
        </tr>
        <tr>
         <td rowspan="4">

             
             

- we should be able to get a list of both the boroughs and neighborhoods of Paris form the above table
  
- and will then be able to go on to get their coordinates with GeoPy and venues with Folium.

## Global Liveability Index [Report]( https://www.eiu.com/topic/liveabilit). 

This index assesses which locations around the world provide the best or the worst living conditions by quantifying the challenges that might be presented to an individual's lifestyle in 140 cities worldwide. Each city is assigned a score for over 30 qualitative and quantitative factors across five broad categories of, which I did some catching up on from these articles: 

- [Stability](https://livability.com/search?search_api_fulltext=stability)

- [Health-care](https://livability.com/search?search_api_fulltext=Health-care)

- [Culture and environment](https://livability.com/search?search_api_fulltext=Cuture+Environment)

- [Education and Infrastructure](https://livability.com/search?search_api_fulltext=Education+Infrastructure)

The New York, Toronto and Paris ranking are given and will be adjusted by 5%, based on their Global Liveability Index Ranking.

#### The following maps and data were generated from the stem data sources: 

- [List of Paris's Neighborhoods, csv file](https://github.com/lindangulopez/Coursera_Capstone/blob/master/P_data.csv).


- [Map of Paris's Neighborhoods, html file](https://github.com/lindangulopez/Coursera_Capstone/blob/master/map_paris_neighborhoods.html).


- [Map of Reuilly's Neighborhoods, html file](https://github.com/lindangulopez/Coursera_Capstone/blob/master/map_Reuilly.html).


- [List of Reuilly's Nearby Venues, csv file](https://github.com/lindangulopez/Coursera_Capstone/blob/master/Reuilly_nearby_venues.csv).


- [List of up to Top 100 Reuilly Venues, csv file](https://raw.githubusercontent.com/lindangulopez/Coursera_Capstone/master/Reuilly_venues.csv).


- [List of up to Reuilly Venues Sorted, csv file](https://github.com/lindangulopez/Coursera_Capstone/blob/master/Reuilly_neighbourhoods_venues_sorted.csv).

- [Global Liveability Index, csv file](https://github.com/lindangulopez/Coursera_Capstone/blob/master/L_Ranking.csv)

<h1 align=center><font size = 12>.________________________________________________________________________.</font></h1>


#### Uncomment and re-run lines, to recreate objects if necessary.

## Exploratory data analysis

- Let's being by importing the basic libraries.

In [1]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis
import requests # Library for web scraping

print('Libraries imported.')

Libraries imported.

In [3]:
#pd.read_csv("neighborhoods.csv") 

# uncomment and run this line if you haven't uploaded the csv file yet

### Read data from file 'filename.csv' 
- Upload the following csv files from to the same folder as this notebook: 

https://github.com/lindangulopez/Coursera_Capstone/blob/master/neighborhoods.csv

https://github.com/lindangulopez/Coursera_Capstone/blob/master/sorted_geoloc.csv  

- reset rows, column names, to be homogeneous

In [28]:
#pd.read_csv("sorted_geoloc.csv") 

# uncomment and run this line if you haven't uploaded the csv file yet

### The above data sets will be manipulated during the later half of the assignment.

In [2]:
NY_data = pd.read_csv("neighborhoods.csv") 
# Preview the first 5 lines of the loaded data 
# NY_data.head()

In [3]:
NY_cols = NY_data.columns.tolist()
NY_cols

['Unnamed: 0', 'Borough', 'Neighborhood', 'Latitude', 'Longitude']

In [4]:
NY_new_cols = ['Borough',
 'Neighborhood',
 'Latitude',
 'Longitude']
NY_new_cols

['Borough', 'Neighborhood', 'Latitude', 'Longitude']

In [5]:
NY_data = NY_data[NY_new_cols]

In [6]:
NY_data.head()

  Borough Neighborhood   Latitude  Longitude
0   Bronx    Wakefield  40.894705 -73.847201
1   Bronx   Co-op City  40.874294 -73.829939
2   Bronx  Eastchester  40.887556 -73.827806
3   Bronx    Fieldston  40.895437 -73.905643
4   Bronx    Riverdale  40.890834 -73.912585

In [7]:
NY_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306 entries, 0 to 305
Data columns (total 4 columns):
Borough         306 non-null object
Neighborhood    306 non-null object
Latitude        306 non-null float64
Longitude       306 non-null float64
dtypes: float64(2), object(2)
memory usage: 9.6+ KB

In [8]:
print('The New York dataframe has {} boroughs and {} neighborhoods.'.format(
        len(NY_data['Borough'].unique()),
        NY_data.shape[0]
    )
)

The New York dataframe has 5 boroughs and 306 neighborhoods.

now let's do the same for the Toronto data set:

In [9]:
T_data = pd.read_csv("sorted_geoloc.csv") 
# Preview the first 5 lines of the loaded data 
#T_data.head()

In [10]:
T_cols = T_data.columns.tolist()
T_cols

['Unnamed: 0',
 'PostalCode',
 'Borough',
 'Neighbourhood',
 'Latitude',
 'Longitude']

In [11]:
T_data.rename(columns={'Neighbourhood': 'Neighborhood'}, inplace=True)

In [73]:
#T_data.head()

In [12]:
T_cols = T_data.columns.tolist()
T_cols

['Unnamed: 0',
 'PostalCode',
 'Borough',
 'Neighborhood',
 'Latitude',
 'Longitude']

In [13]:
T_new_cols = ['Borough',
 'Neighborhood',
 'Latitude',
 'Longitude']
T_new_cols

['Borough', 'Neighborhood', 'Latitude', 'Longitude']

In [14]:
T_data = T_data[T_new_cols]

In [15]:
T_data.head()

,Borough,Neighborhood,Latitude,Longitude
0,DowntownToronto,"Adelaide,King,Richmond",43.650571,-79.384568
1,Scarborough,Agincourt,43.794200,-79.262029
2,Scarborough,"Agincourt North,L'Amoreaux East,Milliken,Steel...",43.815252,-79.284577
3,Etobicoke,"Albion Gardens,Beaumond Heights,Humbergate,Jam...",43.739416,-79.588437
4,Etobicoke,"Alderwood,Long Branch",43.602414,-79.543484

In [16]:
T_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 4 columns):
Borough         103 non-null object
Neighborhood    103 non-null object
Latitude        103 non-null float64
Longitude       103 non-null float64
dtypes: float64(2), object(2)
memory usage: 3.3+ KB

In [17]:
print('The Toronto dataframe has {} boroughs and {} neighborhoods.'.format(
        len(T_data['Borough'].unique()),
        T_data.shape[0]
    )
)

The Toronto dataframe has 11 boroughs and 103 neighborhoods.

### Save dataframes as csv files:

In [18]:
NY_data.to_csv('NY_geloc.csv')

In [19]:
T_data.to_csv('T_geoloc.csv')

Now let's go on to do:

## Data Mining, with
- pandas 
- BeautifulSoup 
- Foursquare API

## Data Munging, with
- with NumPy

## Web scraping

Let's download and Expore the Dataset with the following tools so that we can convert addresses into their equivalent latitude and longitude values. Go on to use the Foursquare API to explore neighborhoods in New York, Toronto and Paris. We will use their 'explore' function to get the most common venue categories in each neighborhood, and then use this feature to group the neighborhoods into clusters.

In [2]:
# To run this, you can install BeautifulSoup
# https://pypi.python.org/pypi/beautifulsoup4

# Or download the file
# http://beautiful-soup-4
# and unzip it in the same directory as this file
import requests
from urllib.request import urlopen
from bs4 import BeautifulSoup
import ssl
import csv

print('BeautifulSoup  & csv imported.')

BeautifulSoup  & csv imported.

In [3]:
# Ignore SSL certificate errors
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

print('SSL certificate errors ignored.')

SSL certificate errors ignored.

In [4]:
source = requests.get('https://en.wikipedia.org/wiki/Quarters_of_Paris').text

soup = BeautifulSoup(source, 'lxml')

#print(soup.prettify())
print('soup ready')

soup ready

In [5]:
table = soup.find('table',{'class':'wikitable centre'})
#print(table.prettify())

In [6]:
table_rows = table.find_all('tr')

#table_rows[0:6]

In [7]:
P_data = []

for row in table_rows:
    w_table = row.text.split('\n')[1:-1]
    P_data.append(w_table)
    
#P_data

In [8]:
P_data[0]
# has the column names

['Arrondissement(Districts)',
 '',
 'Quartiers(Quarters)',
 '',
 'Population in1999[3]',
 '',
 'Area(hectares)[3]',
 '',
 'Map']

In [9]:
P_data[1:5] 
# data e.g...

[['1st arrondissement(Called "du Louvre")',
  '',
  '1st',
  "Saint-Germain-l'Auxerrois",
  '1,672',
  '86.9',
  '',
  ''],
 ['2nd', 'Les Halles', '8,984', '41.2'],
 ['3rd', 'Palais-Royal', '3,195', '27.4'],
 ['4th', 'Place-Vendôme', '3,044', '26.9']]

In [10]:
Paris_df = pd.DataFrame(P_data)
#Paris_df.head(15)

In [11]:
Paris_df.to_csv('Paris_data3.csv')

In [12]:
#Paris_df.info()

In [13]:
Paris_df.columns

RangeIndex(start=0, stop=9, step=1)

In [20]:
Paris_df2 = Paris_df.drop(Paris_df.columns[[4,5,6,7,8]], axis=1)  # df.columns is zero-based pd.Index 

# I've kept colums 2nd & 3rd columns as the brough/Arrondissement enry spans four colums

In [24]:
#Paris_df2.head()

In [30]:
Paris_df.rename(columns={0: 'Borough', 1: 'Neighborhood'}, inplace=True)

In [38]:
#Paris_df.head()

In [34]:
Paris_df.columns

Index(['Borough', 'Neighborhood', 2, 3, 4, 5, 6, 7, 8], dtype='object')

In [37]:
Paris_df['Address']=Paris_df['Borough'] + ' , ' + Paris_df['Neighborhood']

In [7]:
#Paris_df.head()

In [40]:
Paris_df = Paris_df.drop(Paris_df.columns[[4, 5, 6, 7, 8]], axis=1)  # df.columns is zero-based pd.Index

In [44]:
#Paris_df.head()

In [42]:
Paris_df2 = Paris_df[1:]

In [8]:
#Paris_df2.head()

In [45]:
Paris_df2.to_csv('Paris_data.csv')
# will clean dataframe and upload again, ...

In [7]:
Paris_data1 = pd.read_csv("Paris_geocods.csv")

In [36]:
#Paris_data1.head(6)

In [9]:
Paris_data1.columns

Index(['Unnamed: 0', 'Borough', 'Neighborhood', 'Address', 'Coordinates'], dtype='object')

In [10]:
Paris_data1.to_csv('p_geoloc1.csv')

## Now Let's get the coordinates with GeoPy

In [4]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

!conda install -c conda-forge folium=0.5.0 --yes 
import folium # map rendering library

print('Libraries imported.')

Collecting package metadata: done
Solving environment: /
The environment is inconsistent, please check the package plan carefully
The following packages are causing the inconsistency:

  - defaults/linux-64::anaconda==5.3.1=py37_0
  - defaults/linux-64::astropy==3.0.4=py37h14c3975_0
  - defaults/linux-64::bkcharts==0.2=py37_0
  - defaults/linux-64::blaze==0.11.3=py37_0
  - defaults/linux-64::bokeh==0.13.0=py37_0
  - defaults/linux-64::bottleneck==1.2.1=py37h035aef0_1
  - defaults/linux-64::dask==0.19.1=py37_0
  - defaults/linux-64::datashape==0.5.4=py37_1
  - defaults/linux-64::mkl-service==1.1.2=py37h90e4bf4_5
  - defaults/linux-64::numba==0.39.0=py37h04863e7_0
  - defaults/linux-64::numexpr==2.6.8=py37hd89afb7_0
  - defaults/linux-64::odo==0.5.1=py37_0
  - defaults/linux-64::pytables==3.4.4=py37ha205bf6_0
  - defaults/linux-64::pytest-arraydiff==0.2=py37h39e3cac_0
  - defaults/linux-64::pytest-astropy==0.4.0=py37_0
  - defaults/linux-64::pytest-doctestplus==0.1.3=py37_0
  - defaults/linux-64::pywavelets==1.0.0=py37hdd07704_0
  - defaults/linux-64::scikit-image==0.14.0=py37hf484d3e_1
done

## Package Plan ##

  environment location: /home/jupyterlab/conda

  added / updated specs:
    - folium=0.5.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2019.6.16  |       hecc5488_0         145 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         145 KB

The following packages will be UPDATED:

  ca-certificates                       2019.3.9-hecc5488_0 --> 2019.6.16-hecc5488_0



Downloading and Extracting Packages
ca-certificates-2019 | 145 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Libraries imported.

## Get the latitude and the longitude coordinates of each neighborhood, used Geopy:

In [3]:
pip install geopy

Requirement already satisfied: geopy in /home/jupyterlab/conda/lib/python3.6/site-packages (1.11.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install geocoder

Collecting geocoder
  Downloading https://files.pythonhosted.org/packages/4f/6b/13166c909ad2f2d76b929a4227c952630ebaf0d729f6317eb09cbceccbab/geocoder-1.38.1-py2.py3-none-any.whl (98kB)
    100% |████████████████████████████████| 102kB 19.7MB/s
Requirement already satisfied: click in /home/jupyterlab/conda/lib/python3.6/site-packages (from geocoder) (7.0)
Requirement already satisfied: requests in /home/jupyterlab/conda/lib/python3.6/site-packages (from geocoder) (2.21.0)
Collecting ratelim (from geocoder)
  Downloading https://files.pythonhosted.org/packages/f2/98/7e6d147fd16a10a5f821db6e25f192265d6ecca3d82957a4fdd592cad49c/ratelim-0.1.6-py2.py3-none-any.whl
Requirement already satisfied: six in /home/jupyterlab/conda/lib/python3.6/site-packages (from geocoder) (1.12.0)
Requirement already satisfied: future in /home/jupyterlab/conda/lib/python3.6/site-packages (from geocoder) (0.17.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests->geocoder) (2019.3.9)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests->geocoder) (1.24.1)
Requirement already satisfied: idna<2.9,>=2.5 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests->geocoder) (2.8)
Requirement already satisfied: decorator in /home/jupyterlab/conda/lib/python3.6/site-packages (from ratelim->geocoder) (4.4.0)
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6
Note: you may need to restart the kernel to use updated packages.

#### Use Geopy & OpenStreetMap to create Dataframe

- test Nominatim

In [5]:
from  geopy.geocoders import Nominatim

geolocator = Nominatim()
city ="Paris"
country ="France"
loc = geolocator.geocode(city+','+ country)
print("latitude is :-" ,loc.latitude,"\nlongtitude is:-" ,loc.longitude)

latitude is :- 48.8566101
longtitude is:- 2.3514992

In [6]:
from  geopy.geocoders import Nominatim
geolocator = Nominatim()
location = geolocator.geocode("1st arrondissement du Louvre, 4th , Place-Vendome")

print(location.address)
print('')
print((location.latitude, location.longitude))
print('')
print(location.raw)

Place Vendôme, Vendôme, 1er, Paris, Île-de-France, France métropolitaine, 75001, France

(48.8673216, 2.3294834)

{'place_id': 69432807, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'way', 'osm_id': 4234145, 'boundingbox': ['48.8670807', '48.8678692', '2.3290359', '2.3298336'], 'lat': '48.8673216', 'lon': '2.3294834', 'display_name': 'Place Vendôme, Vendôme, 1er, Paris, Île-de-France, France métropolitaine, 75001, France', 'class': 'highway', 'type': 'tertiary', 'importance': 0.46235286804561404}

- Retrieve coordinates with with lambda equation

In [45]:
#Paris_geopy=Paris_data1
#Paris_geopy.info()

- Set connection to OpenStreeMap

In [ ]:
nom = Nominatim()

In [ ]:
n=nom.geocode('1st arrondissement du Louvre, 4th , Place-Vendome')
n

In [ ]:
n.latitude

- Use 'Coordinates' to get geocode coordinates:

In [25]:
Paris_geopy.columns

Index(['Unnamed: 0', 'Borough', 'Neighborhood', 'Address', 'Coordinates'], dtype='object')

In [26]:
P_Coordinates= Paris_geopy['Coordinates']
#P_Coordinates

In [34]:
#Paris_geopy['Latitude']=Paris_geopy['Coordinates'].apply(lambda x: x.latitude if x !=None else None)
#Paris_geopy['Longitude']=Paris_geopy['Coordinates'].apply(lambda x: x.longitude if x !=None else None)

#Paris_geopy.head()

# uncomment and run this line if you cannot upload the csv file

In [35]:
#Paris_geopy.info()

In [5]:
Paris_data = pd.read_csv("Paris_geoloc.csv")

In [66]:
#Paris_data.head()

In [65]:
#Paris_data.info()

In [49]:
#Address = Paris_data['Address']
#Address

In [51]:
#longitude = Paris_data['longitude']
#longitude

In [53]:
#latitude = Paris_data['latitude']
#latitude

In [58]:
Paris_cols = Paris_data.columns.tolist()
Paris_cols

['Unnamed: 0',
 'Borough',
 'Neighborhood',
 'Address',
 'Coordinates',
 'latitude',
 'longitude']

In [60]:
P_new_cols = ['Borough',
 'Neighborhood',
 'latitude',
 'longitude']
P_new_cols

['Borough', 'Neighborhood', 'latitude', 'longitude']

In [61]:
Paris_data = Paris_data[P_new_cols]

In [10]:
Paris_data.head()

,Unnamed: 0,Borough,Neighborhood,Address,Coordinates,latitude,longitude
0,0,1st arrondissement du Louvre,Saint-Germain-l'Auxerrois,"1st arrondissement du Louvre, 1st, Saint-Germa...","Saint-Germain l'Auxerrois, Accès Parking Saint...",48.859696,2.340633
1,1,1st arrondissement du Louvre,Les Halles,"1st arrondissement du Louvre, 2nd , Les Halles","Les Halles, 1er, Paris, Île-de-France, France ...",48.862157,2.344796
2,2,1st arrondissement du Louvre,Palais-Royal,"1st arrondissement du Louvre, 3rd , Palais-Royal","Palais Royal, 1er, Paris, Île-de-France, Franc...",48.864605,2.336051
3,3,1st arrondissement du Louvre,Place-Vendome,"1st arrondissement du Louvre, 4th , Place-Vendome","Place Vendôme, Vendôme, 1er, Paris, Île-de-Fra...",48.867322,2.329483
4,4,2nd arrondissement de la Bourse,Gaillon,"2nd arrondissement de la Bourse, 5th, Gaillon","Gaillon, 2e, Paris, Île-de-France, France métr...",48.869135,2.332909

In [67]:
Paris_data.to_csv('P_data.csv')

In [7]:
print('The dataframe has {} boroughs and {} neighborhoods.'.format(
        len(Paris_data['Borough'].unique()),
        Paris_data.shape[0]
    )
)

The dataframe has 23 boroughs and 80 neighborhoods.

In [75]:
#Paris_data
# Borough[13:15] cells need to be modified to '4th arrondissement de l'Hotel-de-Ville'!

In [15]:
print(Paris_data.iat[12, 1])
print(Paris_data.iat[13, 1])
print(Paris_data.iat[14, 1])
print(Paris_data.iat[15, 1])

4th arrondissement de l'Hotel-de-Ville
5th arrondissement de l'Hotel-de-Ville
6th arrondissement de l'Hotel-de-Ville
7th arrondissement de l'Hotel-de-Ville

In [29]:
Paris_data.iat[12, 1] = '4th arrondissement de l Hotel de Ville'

In [30]:
print(Paris_data.iat[12, 1])

4th arrondissement de l Hotel de Ville

In [31]:
Paris_data.iat[13, 1] = '4th arrondissement de l Hotel de Ville'
Paris_data.iat[14, 1] = '4th arrondissement de l Hotel de Ville'
Paris_data.iat[15, 1] = '4th arrondissement de l Hotel de Ville'

In [32]:
print(Paris_data.iat[12, 1])
print(Paris_data.iat[13, 1])
print(Paris_data.iat[14, 1])
print(Paris_data.iat[15, 1])

4th arrondissement de l Hotel de Ville
4th arrondissement de l Hotel de Ville
4th arrondissement de l Hotel de Ville
4th arrondissement de l Hotel de Ville

In [33]:
print('The dataframe has {} boroughs and {} neighborhoods.'.format(
        len(Paris_data['Borough'].unique()),
        Paris_data.shape[0]
    )
)

The dataframe has 20 boroughs and 80 neighborhoods.

In [35]:
Paris_data.to_csv('P_data.csv')

In [44]:
#Paris_data.head()

In [39]:
P_new_cols = ['Borough',
 'Neighborhood',
 'latitude',
 'longitude']
P_new_cols

['Borough', 'Neighborhood', 'latitude', 'longitude']

In [40]:
Paris_data = Paris_data[P_new_cols]

In [10]:
Paris_data.head()

,Unnamed: 0,Borough,Neighborhood,latitude,longitude
0,0,1st arrondissement du Louvre,Saint-Germain-l'Auxerrois,48.859696,2.340633
1,1,1st arrondissement du Louvre,Les Halles,48.862157,2.344796
2,2,1st arrondissement du Louvre,Palais-Royal,48.864605,2.336051
3,3,1st arrondissement du Louvre,Place-Vendome,48.867322,2.329483
4,4,2nd arrondissement de la Bourse,Gaillon,48.869135,2.332909

In [42]:
Paris_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 4 columns):
Borough         80 non-null object
Neighborhood    80 non-null object
latitude        80 non-null float64
longitude       80 non-null float64
dtypes: float64(2), object(2)
memory usage: 2.6+ KB

In [46]:
Paris_data.to_csv('P_data.csv')

## Data analytics, with
- with Folium

To visualize the neighborhoods and their emerging clusters, with the Folium library

- building Interactive Leaflet Maps with Geopy:

In [70]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

!conda install -c conda-forge folium=0.5.0 --yes 
import folium # map rendering library

print('Libraries imported.')

Collecting package metadata: done
Solving environment: -
The environment is inconsistent, please check the package plan carefully
The following packages are causing the inconsistency:

  - defaults/linux-64::anaconda==5.3.1=py37_0
  - defaults/linux-64::astropy==3.0.4=py37h14c3975_0
  - defaults/linux-64::bkcharts==0.2=py37_0
  - defaults/linux-64::blaze==0.11.3=py37_0
  - defaults/linux-64::bokeh==0.13.0=py37_0
  - defaults/linux-64::bottleneck==1.2.1=py37h035aef0_1
  - defaults/linux-64::dask==0.19.1=py37_0
  - defaults/linux-64::datashape==0.5.4=py37_1
  - defaults/linux-64::mkl-service==1.1.2=py37h90e4bf4_5
  - defaults/linux-64::numba==0.39.0=py37h04863e7_0
  - defaults/linux-64::numexpr==2.6.8=py37hd89afb7_0
  - defaults/linux-64::odo==0.5.1=py37_0
  - defaults/linux-64::pytables==3.4.4=py37ha205bf6_0
  - defaults/linux-64::pytest-arraydiff==0.2=py37h39e3cac_0
  - defaults/linux-64::pytest-astropy==0.4.0=py37_0
  - defaults/linux-64::pytest-doctestplus==0.1.3=py37_0
  - defaults/linux-64::pywavelets==1.0.0=py37hdd07704_0
  - defaults/linux-64::scikit-image==0.14.0=py37hf484d3e_1
done

# All requested packages already installed.

Libraries imported.

In [16]:
Paris_data = pd.read_csv("P_data.csv")

In [13]:
print('The dataframe has {} boroughs and {} neighborhoods.'.format(
        len(Paris_data['Borough'].unique()),
        Paris_data.shape[0]
    )
)

The dataframe has 20 boroughs and 80 neighborhoods.

In [12]:
address = 'Paris'

geolocator = Nominatim()
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Paris are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Paris are 48.8566101, 2.3514992.

In [27]:
!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab

Collecting package metadata: done
Solving environment: -
The environment is inconsistent, please check the package plan carefully
The following packages are causing the inconsistency:

  - defaults/linux-64::anaconda==5.3.1=py37_0
  - defaults/linux-64::astropy==3.0.4=py37h14c3975_0
  - defaults/linux-64::bkcharts==0.2=py37_0
  - defaults/linux-64::blaze==0.11.3=py37_0
  - defaults/linux-64::bokeh==0.13.0=py37_0
  - defaults/linux-64::bottleneck==1.2.1=py37h035aef0_1
  - defaults/linux-64::dask==0.19.1=py37_0
  - defaults/linux-64::datashape==0.5.4=py37_1
  - defaults/linux-64::mkl-service==1.1.2=py37h90e4bf4_5
  - defaults/linux-64::numba==0.39.0=py37h04863e7_0
  - defaults/linux-64::numexpr==2.6.8=py37hd89afb7_0
  - defaults/linux-64::odo==0.5.1=py37_0
  - defaults/linux-64::pytables==3.4.4=py37ha205bf6_0
  - defaults/linux-64::pytest-arraydiff==0.2=py37h39e3cac_0
  - defaults/linux-64::pytest-astropy==0.4.0=py37_0
  - defaults/linux-64::pytest-doctestplus==0.1.3=py37_0
  - defaults/linux-64::pywavelets==1.0.0=py37hdd07704_0
  - defaults/linux-64::scikit-image==0.14.0=py37hf484d3e_1
done

# All requested packages already installed.

## Test set with boroughs in Paris:

- if you cannot generate the maps open *.html from the zip file

In [28]:
import pandas as pd
import folium

print('imported pandas & folium')

imported pandas & folium

In [17]:
Paris_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 5 columns):
Unnamed: 0      80 non-null int64
Borough         80 non-null object
Neighborhood    80 non-null object
latitude        80 non-null float64
longitude       80 non-null float64
dtypes: float64(2), int64(1), object(2)
memory usage: 3.2+ KB

In [42]:
neighborhood = Paris_data['Neighborhood']
#neighborhood

In [36]:
lat=Paris_data['latitude']
#lat

In [38]:
lng=Paris_data['longitude']
#lng

In [47]:
borough=Paris_data['Borough']
#borough

## Map of Paris Map

- with its neighborhoods superimposed on top.

- if you cannot replicate the lab open the *.html on Github

In [44]:
# create map of Toronto using latitude and longitude values
map_paris_neighborhoods = folium.Map(location=[latitude, longitude], zoom_start=20)

# add markers to map
for lat, lng, borough, neighborhood in zip(Paris_data['latitude'], Paris_data['longitude'], Paris_data['Borough'], Paris_data['Neighborhood']):
    label = '{}, {}'.format(neighborhood, borough)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=2,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_paris_neighborhoods)  
    
map_paris_neighbourhoods

map_paris_neighborhoods.save("map_paris_neighborhoods.html")

#open map_paris_neighborhoods.html in browser
#if you cannot generate the maps open the map's html on Github

#### To kick off, let's focus on Mr Haricot's home borough, Reuilly

In [48]:
address = '12th arrondissement de Reuilly, Paris'

geolocator = Nominatim()
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinates of Reuilly are {}, {}.'.format(latitude, longitude))

The geograpical coordinates of Reuilly are 48.8396154, 2.3957517.

In [49]:
Reuilly_data = Paris_data[Paris_data['Borough'] == '12th arrondissement de Reuilly'].reset_index(drop=True)
Reuilly_data

,Unnamed: 0,Borough,Neighborhood,latitude,longitude
0,44,12th arrondissement de Reuilly,Bel-Air,48.852874,2.363723
1,45,12th arrondissement de Reuilly,Picpus,48.834385,2.387224
2,46,12th arrondissement de Reuilly,Bercy,48.839487,2.390523
3,47,12th arrondissement de Reuilly,Quinze-Vingts,48.851250,2.370110

In [50]:
Reuilly_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
Unnamed: 0      4 non-null int64
Borough         4 non-null object
Neighborhood    4 non-null object
latitude        4 non-null float64
longitude       4 non-null float64
dtypes: float64(2), int64(1), object(2)
memory usage: 240.0+ bytes

In [52]:
lat_r=Reuilly_data['latitude']
#lat_r

In [54]:
lng_r=Reuilly_data['longitude']
#lng_r

In [57]:
neigh_r=Reuilly_data['Neighborhood']
#neigh_r

- create map of Reuilly using latitude and longitude values

In [59]:
# create map of Manhattan using latitude and longitude values
map_Reuilly = folium.Map(location=[latitude, longitude], zoom_start=10)

# add markers to map
for lat, lng, label in zip(Reuilly_data['latitude'], Reuilly_data['longitude'], Reuilly_data['Neighborhood']):
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_Reuilly)  
    
map_Reuilly

map_Reuilly.save("map_Reuilly.html")

#open map_Reuilly.html in browser
#if you cannot generate the maps the map's html on Github

## Foursquare 

##### Enter your Foursquare credentials:

In [60]:
# The code was removed by Watson Studio for sharing.

My credentails: ***

### Let's explore the first neighborhood in the Reuilly dataframe.

- Get the neighborhood's name.

In [61]:
Reuilly_neighborhood_latitude = Reuilly_data.loc[0, 'latitude'] # neighborhood latitude value
Reuilly_neighborhood_longitude = Reuilly_data.loc[0, 'longitude'] # neighborhood longitude value
Reuilly_neighborhood_name = Reuilly_data.loc[0, 'Neighborhood'] # neighborhood name

print('Latitude and longitude values of {} are {}, {}.'.format(Reuilly_neighborhood_name, 
                                                               Reuilly_neighborhood_latitude, 
                                                               Reuilly_neighborhood_longitude))

Latitude and longitude values of Bel-Air are 48.8528735, 2.3637226000000005.

### Now, let's get the top 100 venues that are in Bel-Air, within a radius of 500 meters.

- First, let's create the GET request URL. Name your URL url.

In [64]:
# The code was removed by Watson Studio for sharing.

In [67]:
Reuilly_results = requests.get(url).json()
#Reuilly_results

In [68]:
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [69]:
Reuilly_venues = Reuilly_results['response']['groups'][0]['items']

In [71]:
Reuilly_nearby_venues = json_normalize(Reuilly_venues) # flatten JSON

In [72]:
# filter columns
Reuilly_filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
Reuilly_nearby_venues = Reuilly_nearby_venues.loc[:, Reuilly_filtered_columns]

In [73]:
# filter the category for each row
Reuilly_nearby_venues['venue.categories'] = Reuilly_nearby_venues.apply(get_category_type, axis=1)

In [74]:
# clean columns
Reuilly_nearby_venues.columns = [col.split(".")[-1] for col in Reuilly_nearby_venues.columns]

In [75]:
Reuilly_nearby_venues.head()

                     name         categories        lat       lng
0                  Homies   Tapas Restaurant  48.853542  2.364448
1    Le Temps des Cerises  French Restaurant  48.852554  2.364195
2             Sherry Butt       Cocktail Bar  48.853267  2.364114
3               Keep Cool                Gym  48.852085  2.363371
4  La Cerise sur la Pizza        Pizza Place  48.854037  2.362343

In [79]:
Reuilly_nearby_venues.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
name          100 non-null object
categories    100 non-null object
lat           100 non-null float64
lng           100 non-null float64
dtypes: float64(2), object(2)
memory usage: 3.2+ KB

In [76]:
Reuilly_nearby_venues.to_csv('Reuilly_nearby_venues.csv')

In [80]:
print('{} venues were returned by Foursquare.'.format(Reuilly_nearby_venues.shape[0]))

100 venues were returned by Foursquare.

## Explore Neighborhoods in Reuilly:

- Let's create a function to repeat the same process to all the neighborhoods in Reuilly

In [81]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighbourhood', 
                  'Neighbourhood Latitude', 
                  'Neighbourhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [95]:
Reuilly_results = requests.get(url).json()
#Reuilly_results

In [96]:
Reuilly_nearby_venues.head()

                     name         categories        lat       lng
0                  Homies   Tapas Restaurant  48.853542  2.364448
1    Le Temps des Cerises  French Restaurant  48.852554  2.364195
2             Sherry Butt       Cocktail Bar  48.853267  2.364114
3               Keep Cool                Gym  48.852085  2.363371
4  La Cerise sur la Pizza        Pizza Place  48.854037  2.362343


- use get_category_type function, to find the information in the items key

In [97]:

Reuilly_venues = getNearbyVenues(names=Reuilly_nearby_venues['name'],
                                   latitudes=Reuilly_nearby_venues['lat'],
                                   longitudes=Reuilly_nearby_venues['lng']
                                  )

Homies
Le Temps des Cerises
Sherry Butt
Keep Cool
La Cerise sur la Pizza
Garde Républicaine
Maria Loca
Vins des Pyrénées
Le Chanard
Village Saint-Paul
Café Ginger
Le Dindon en Laisse
Boulangerie Saint-Antoine
Pasta Linea
Pavillon de l'Arsenal
Chez Margot
Au Bouquet Saint Paul
Place du Marché Sainte-Catherine
La Moustache Blanche
Jardin de Sully
Miss Manon
L'Ambroisie
Les Nautes
Place des Vosges
Gaspard de la Nuit
HOTEL DE JOBO
Sushi Shop
Hôtel de Béthune-Sully
Thai Spices
L'Enoteca
Chez Mademoiselle
La Mangerie
Comptoir des Mers
Savannah Coffee
Bubar
Frog Revolution
Dammann Frères
Casa San Pablo
Amorino
Grand Hôtel Malher
Maison de Victor Hugo
L'Area Café
Brasserie Bofinger
Galerie Nikki Diana Marquardt
Yellow Tucan
Fromagerie Laurent Dubois
Carette
Maison Européenne de la Photographie
La Cidrerie du Marais
Le Rusti
Jardin de l'Hôtel de Sens
Hôtel Original Paris
Au Petit Thai
Hôtel Pavillon de la Reine
Place de la Bastille
L'Ardoise 86
Pedra Alta
Place Saint-Paul
Lenôtre
Square Barye
Monoprix
YellowKorner
Khao Thai
Hôtel Turenne Le Marais
Chocolaterie Joséphine Vannier
Pitzman
COS
Popelini
Metropolitain
Bistrot de l'Oulette
L'Éclair de Génie
Chez Janou
La Mouette Rieuse
Opéra Bastille
Rivolux
Breakfast in America
LECLAIREUR Sévigné
Vingt Vins d'Art
Le Loir dans la Théière
Ban Sabai
Les Bonnes Sœurs
Jardins du Port de l'Arsenal
The Brooklyn Pizzeria
Le Piment
Hôtel des Archevêques de Sens
Chez Papa
Acqua di Parma
Bistrot des Vosges
Paul
Le Moulin de Rosa
L'Eléphant du Nil
adidas Originals
Café Hugo
Léon de Bruxelles
Café de la Presse
La Carte des Vins
Petit Pan
Maison Georges Larnicol
L'Orangerie
Le Beaumarchais

In [102]:
Reuilly_venues.head()

,Neighbourhood,Neighbourhood Latitude,Neighbourhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Homies,48.853542,2.364448,Homies,48.853542,2.364448,Tapas Restaurant
1,Homies,48.853542,2.364448,Le Temps des Cerises,48.852554,2.364195,French Restaurant
2,Homies,48.853542,2.364448,Sherry Butt,48.853267,2.364114,Cocktail Bar
3,Homies,48.853542,2.364448,Pasta Linea,48.855250,2.363416,Italian Restaurant
4,Homies,48.853542,2.364448,Keep Cool,48.852085,2.363371,Gym

In [103]:
Reuilly_venues.tail()

,Neighbourhood,Neighbourhood Latitude,Neighbourhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
9732,Le Beaumarchais,48.855144,2.368606,HOTEL DE JOBO,48.855438,2.362076,Hotel
9733,Le Beaumarchais,48.855144,2.368606,Savannah Coffee,48.855125,2.363305,Coffee Shop
9734,Le Beaumarchais,48.855144,2.368606,Galerie Nikki Diana Marquardt,48.855396,2.363737,Art Gallery
9735,Le Beaumarchais,48.855144,2.368606,Muscovado,48.855539,2.370872,Breakfast Spot
9736,Le Beaumarchais,48.855144,2.368606,Pizza Julia,48.851603,2.371978,Pizza Place

In [104]:
Reuilly_venues.to_csv('Reuilly_venues.csv')

In [105]:
Reuilly_venues.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9737 entries, 0 to 9736
Data columns (total 7 columns):
Neighbourhood              9737 non-null object
Neighbourhood Latitude     9737 non-null float64
Neighbourhood Longitude    9737 non-null float64
Venue                      9737 non-null object
Venue Latitude             9737 non-null float64
Venue Longitude            9737 non-null float64
Venue Category             9737 non-null object
dtypes: float64(4), object(3)
memory usage: 532.6+ KB

- Let's see how many venues were returned for each neighborhood

In [107]:
Reuilly_venues.groupby('Neighbourhood').count()

,Neighbourhood Latitude,Neighbourhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Neighbourhood,,,,,,
Acqua di Parma,100,100,100,100,100,100
Amorino,100,100,100,100,100,100
Au Bouquet Saint Paul,100,100,100,100,100,100
Au Petit Thai,100,100,100,100,100,100
Ban Sabai,100,100,100,100,100,100
Bistrot de l'Oulette,100,100,100,100,100,100
Bistrot des Vosges,100,100,100,100,100,100
Boulangerie Saint-Antoine,100,100,100,100,100,100
Brasserie Bofinger,100,100,100,100,100,100
Breakfast in America,100,100,100,100,100,100
Bubar,100,100,100,100,100,100
COS,100,100,100,100,100,100
Café Ginger,100,100,100,100,100,100
Café Hugo,100,100,100,100,100,100
Café de la Presse,69,69,69,69,69,69
Carette,100,100,100,100,100,100
Casa San Pablo,100,100,100,100,100,100
Chez Janou,100,100,100,100,100,100
Chez Mademoiselle,100,100,100,100,100,100
Chez Margot,84,84,84,84,84,84
Chez Papa,71,71,71,71,71,71
Chocolaterie Joséphine Vannier,100,100,100,100,100,100
Comptoir des Mers,100,100,100,100,100,100
Dammann Frères,100,100,100,100,100,100
Frog Revolution,100,100,100,100,100,100
Fromagerie Laurent Dubois,100,100,100,100,100,100
Galerie Nikki Diana Marquardt,100,100,100,100,100,100
Garde Républicaine,74,74,74,74,74,74
Gaspard de la Nuit,100,100,100,100,100,100
Grand Hôtel Malher,100,100,100,100,100,100
HOTEL DE JOBO,100,100,100,100,100,100
Homies,100,100,100,100,100,100
Hôtel Original Paris,100,100,100,100,100,100
Hôtel Pavillon de la Reine,100,100,100,100,100,100
Hôtel Turenne Le Marais,100,100,100,100,100,100
Hôtel de Béthune-Sully,100,100,100,100,100,100
Hôtel des Archevêques de Sens,100,100,100,100,100,100
Jardin de Sully,100,100,100,100,100,100
Jardin de l'Hôtel de Sens,100,100,100,100,100,100
Jardins du Port de l'Arsenal,59,59,59,59,59,59
Keep Cool,88,88,88,88,88,88
Khao Thai,100,100,100,100,100,100
L'Ambroisie,100,100,100,100,100,100
L'Ardoise 86,100,100,100,100,100,100
L'Area Café,100,100,100,100,100,100
L'Eléphant du Nil,100,100,100,100,100,100
L'Enoteca,100,100,100,100,100,100
L'Orangerie,98,98,98,98,98,98
L'Éclair de Génie,100,100,100,100,100,100
LECLAIREUR Sévigné,100,100,100,100,100,100
La Carte des Vins,100,100,100,100,100,100
La Cerise sur la Pizza,100,100,100,100,100,100
La Cidrerie du Marais,100,100,100,100,100,100
La Mangerie,100,100,100,100,100,100
La Mouette Rieuse,100,100,100,100,100,100
La Moustache Blanche,100,100,100,100,100,100
Le Beaumarchais,100,100,100,100,100,100
Le Chanard,100,100,100,100,100,100
Le Dindon en Laisse,100,100,100,100,100,100
Le Loir dans la Théière,100,100,100,100,100,100
Le Moulin de Rosa,100,100,100,100,100,100
Le Piment,100,100,100,100,100,100
Le Rusti,100,100,100,100,100,100
Le Temps des Cerises,100,100,100,100,100,100
Lenôtre,100,100,100,100,100,100
Les Bonnes Sœurs,100,100,100,100,100,100
Les Nautes,100,100,100,100,100,100
Léon de Bruxelles,100,100,100,100,100,100
Maison Européenne de la Photographie,100,100,100,100,100,100
Maison Georges Larnicol,100,100,100,100,100,100
Maison de Victor Hugo,100,100,100,100,100,100
Maria Loca,91,91,91,91,91,91
Metropolitain,100,100,100,100,100,100
Miss Manon,100,100,100,100,100,100
Monoprix,100,100,100,100,100,100
Opéra Bastille,100,100,100,100,100,100
Pasta Linea,100,100,100,100,100,100
Paul,100,100,100,100,100,100
Pavillon de l'Arsenal,51,51,51,51,51,51
Pedra Alta,100,100,100,100,100,100
Petit Pan,100,100,100,100,100,100
Pitzman,100,100,100,100,100,100
Place Saint-Paul,100,100,100,100,100,100
Place de la Bastille,100,100,100,100,100,100
Place des Vosges,100,100,100,100,100,100
Place du Marché Sainte-Catherine,100,100,100,100,100,100
Popelini,100,100,100,100,100,100
Rivolux,100,100,100,100,100,100
Savannah Coffee,100,100,100,100,100,100
Sherry Butt,100,100,100,100,100,100
Square Barye,52,52,52,52,52,52
Sushi Shop,100,100,100,100,100,100
Thai Spices,100,100,100,100,100,100
The Brooklyn Pizzeria,100,100,100,100,100,100
Village Saint-Paul,100,100,100,100,100,100
Vingt Vins d'Art,100,100,100,100,100,100
Vins des Pyrénées,100,100,100,100,100,100
Yellow Tucan,100,100,100,100,100,100
YellowKorner,100,100,100,100,100,100
adidas Originals,100,100,100,100,100,100

- Now let's see how many types of venues there are in Reuilly

In [108]:
print('There are {} uniques categories.'.format(len(Reuilly_venues['Venue Category'].unique())))

There are 111 uniques categories.

## Now let's use one hot coding to analyse each of the neighbourhoods in Reuilly, Paris:
- the data generated here is necessary for next week's assignment.

In [110]:
# one hot encoding
Reuilly_onehot = pd.get_dummies(Reuilly_venues[['Venue Category']], prefix="", prefix_sep="")

In [111]:

# add neighborhood column back to dataframe
Reuilly_onehot['Neighbourhood'] = Reuilly_venues['Neighbourhood']

In [112]:
# move neighborhood column to the first column
Reuilly_fixed_columns = [Reuilly_onehot.columns[-1]] + list(Reuilly_onehot.columns[:-1])
Reuilly_onehot = Reuilly_onehot[Reuilly_fixed_columns]

In [118]:
#Reuilly_onehot.head()

In [117]:
Reuilly_onehot.tail(10)

,Neighbourhood,African Restaurant,Argentinian Restaurant,Art Gallery,Art Museum,Arts & Crafts Store,Asian Restaurant,Athletics & Sports,Bagel Shop,Bakery,Bar,Beer Bar,Beer Store,Bistro,Boat or Ferry,Bookstore,Brasserie,Brazilian Restaurant,Breakfast Spot,Bridge,Bubble Tea Shop,Burger Joint,Burgundian Restaurant,Café,Cajun / Creole Restaurant,Camera Store,Canal Lock,Candy Store,Cheese Shop,Chocolate Shop,Clothing Store,Cocktail Bar,Coffee Shop,Cosmetics Shop,Creperie,Cultural Center,Dance Studio,Deli / Bodega,Department Store,Dessert Shop,Diner,Egyptian Restaurant,Falafel Restaurant,Food & Drink Shop,French Restaurant,Furniture / Home Store,Garden,Gastropub,Gay Bar,Gourmet Shop,Government Building,Gym,Gym / Fitness Center,Harbor / Marina,Health Food Store,Historic Site,Hostel,Hot Dog Joint,Hotel,Ice Cream Shop,Israeli Restaurant,Italian Restaurant,Japanese Restaurant,Jewish Restaurant,Juice Bar,Kids Store,Korean Restaurant,Library,Lingerie Store,Lounge,Lyonese Bouchon,Market,Memorial Site,Men's Store,Metro Station,Miscellaneous Shop,Moroccan Restaurant,Museum,Music Venue,Opera House,Optical Shop,Organic Grocery,Park,Pastry Shop,Pedestrian Plaza,Pizza Place,Plaza,Portuguese Restaurant,Provençal Restaurant,Pub,Record Shop,Restaurant,Salon / Barbershop,Scandinavian Restaurant,Seafood Restaurant,Shoe Store,Southwestern French Restaurant,Spa,Sporting Goods Shop,Steakhouse,Supermarket,Sushi Restaurant,Szechuan Restaurant,Tapas Restaurant,Tea Room,Thai Restaurant,Trail,Vegetarian / Vegan Restaurant,Waterfront,Wine Bar,Wine Shop,Zoo Exhibit
9727,Le Beaumarchais,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9728,Le Beaumarchais,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9729,Le Beaumarchais,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9730,Le Beaumarchais,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9731,Le Beaumarchais,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9732,Le Beaumarchais,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9733,Le Beaumarchais,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9734,Le Beaumarchais,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9735,Le Beaumarchais,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9736,Le Beaumarchais,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [119]:
Reuilly_onehot.to_csv('Reuilly_onehot.csv')

In [120]:
Reuilly_onehot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9737 entries, 0 to 9736
Columns: 112 entries, Neighbourhood to Zoo Exhibit
dtypes: object(1), uint8(111)
memory usage: 1.1+ MB

- Let's group by neighbourhoods

In [121]:
Reuilly_grouped = Reuilly_onehot.groupby('Neighbourhood').mean().reset_index()
Reuilly_grouped.head()

,Neighbourhood,African Restaurant,Argentinian Restaurant,Art Gallery,Art Museum,Arts & Crafts Store,Asian Restaurant,Athletics & Sports,Bagel Shop,Bakery,Bar,Beer Bar,Beer Store,Bistro,Boat or Ferry,Bookstore,Brasserie,Brazilian Restaurant,Breakfast Spot,Bridge,Bubble Tea Shop,Burger Joint,Burgundian Restaurant,Café,Cajun / Creole Restaurant,Camera Store,Canal Lock,Candy Store,Cheese Shop,Chocolate Shop,Clothing Store,Cocktail Bar,Coffee Shop,Cosmetics Shop,Creperie,Cultural Center,Dance Studio,Deli / Bodega,Department Store,Dessert Shop,Diner,Egyptian Restaurant,Falafel Restaurant,Food & Drink Shop,French Restaurant,Furniture / Home Store,Garden,Gastropub,Gay Bar,Gourmet Shop,Government Building,Gym,Gym / Fitness Center,Harbor / Marina,Health Food Store,Historic Site,Hostel,Hot Dog Joint,Hotel,Ice Cream Shop,Israeli Restaurant,Italian Restaurant,Japanese Restaurant,Jewish Restaurant,Juice Bar,Kids Store,Korean Restaurant,Library,Lingerie Store,Lounge,Lyonese Bouchon,Market,Memorial Site,Men's Store,Metro Station,Miscellaneous Shop,Moroccan Restaurant,Museum,Music Venue,Opera House,Optical Shop,Organic Grocery,Park,Pastry Shop,Pedestrian Plaza,Pizza Place,Plaza,Portuguese Restaurant,Provençal Restaurant,Pub,Record Shop,Restaurant,Salon / Barbershop,Scandinavian Restaurant,Seafood Restaurant,Shoe Store,Southwestern French Restaurant,Spa,Sporting Goods Shop,Steakhouse,Supermarket,Sushi Restaurant,Szechuan Restaurant,Tapas Restaurant,Tea Room,Thai Restaurant,Trail,Vegetarian / Vegan Restaurant,Waterfront,Wine Bar,Wine Shop,Zoo Exhibit
0,Acqua di Parma,0.01,0.0,0.03,0.03,0.0,0.01,0.0,0.00,0.04,0.02,0.01,0.01,0.02,0.0,0.01,0.0,0.00,0.0,0.0,0.0,0.01,0.00,0.01,0.0,0.0,0.0,0.0,0.01,0.01,0.04,0.01,0.04,0.02,0.01,0.01,0.0,0.01,0.0,0.00,0.01,0.0,0.02,0.0,0.10,0.0,0.02,0.02,0.0,0.01,0.00,0.00,0.00,0.0,0.01,0.02,0.0,0.0,0.06,0.01,0.01,0.03,0.02,0.00,0.0,0.00,0.01,0.01,0.0,0.0,0.0,0.00,0.00,0.01,0.0,0.00,0.0,0.00,0.00,0.00,0.0,0.0,0.01,0.02,0.01,0.03,0.03,0.00,0.01,0.00,0.0,0.02,0.0,0.01,0.01,0.01,0.00,0.0,0.01,0.0,0.00,0.01,0.00,0.03,0.04,0.01,0.0,0.00,0.0,0.00,0.00,0.0
1,Amorino,0.01,0.0,0.03,0.02,0.0,0.01,0.0,0.00,0.04,0.02,0.01,0.01,0.01,0.0,0.02,0.0,0.01,0.0,0.0,0.0,0.01,0.00,0.01,0.0,0.0,0.0,0.0,0.01,0.01,0.04,0.01,0.04,0.01,0.00,0.01,0.0,0.01,0.0,0.00,0.01,0.0,0.02,0.0,0.12,0.0,0.02,0.02,0.0,0.00,0.00,0.00,0.00,0.0,0.01,0.02,0.0,0.0,0.06,0.01,0.01,0.03,0.02,0.00,0.0,0.00,0.01,0.01,0.0,0.0,0.0,0.00,0.00,0.01,0.0,0.00,0.0,0.00,0.00,0.00,0.0,0.0,0.01,0.02,0.01,0.02,0.03,0.00,0.01,0.00,0.0,0.02,0.0,0.01,0.02,0.01,0.00,0.0,0.01,0.0,0.00,0.01,0.00,0.03,0.04,0.01,0.0,0.00,0.0,0.01,0.00,0.0
2,Au Bouquet Saint Paul,0.00,0.0,0.03,0.01,0.0,0.01,0.0,0.00,0.04,0.02,0.00,0.01,0.01,0.0,0.01,0.0,0.01,0.0,0.0,0.0,0.01,0.01,0.00,0.0,0.0,0.0,0.0,0.01,0.01,0.03,0.02,0.03,0.01,0.01,0.01,0.0,0.01,0.0,0.00,0.01,0.0,0.02,0.0,0.17,0.0,0.03,0.02,0.0,0.00,0.01,0.01,0.00,0.0,0.00,0.02,0.0,0.0,0.05,0.01,0.01,0.03,0.00,0.00,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.01,0.0,0.00,0.0,0.01,0.00,0.00,0.0,0.0,0.00,0.02,0.01,0.01,0.03,0.00,0.01,0.01,0.0,0.01,0.0,0.02,0.02,0.00,0.00,0.0,0.01,0.0,0.01,0.01,0.00,0.03,0.03,0.02,0.0,0.01,0.0,0.02,0.00,0.0
3,Au Petit Thai,0.01,0.0,0.03,0.01,0.0,0.01,0.0,0.00,0.03,0.02,0.00,0.00,0.01,0.0,0.02,0.0,0.00,0.0,0.0,0.0,0.01,0.01,0.01,0.0,0.0,0.0,0.0,0.01,0.00,0.04,0.02,0.04,0.00,0.02,0.02,0.0,0.01,0.0,0.01,0.01,0.0,0.02,0.0,0.12,0.0,0.03,0.02,0.0,0.01,0.00,0.00,0.00,0.0,0.00,0.01,0.0,0.0,0.04,0.03,0.01,0.03,0.00,0.02,0.0,0.01,0.00,0.00,0.0,0.0,0.0,0.00,0.01,0.01,0.0,0.00,0.0,0.00,0.00,0.00,0.0,0.0,0.00,0.04,0.01,0.01,0.03,0.01,0.00,0.01,0.0,0.01,0.0,0.02,0.02,0.00,0.00,0.0,0.01,0.0,0.00,0.01,0.00,0.03,0.03,0.02,0.0,0.00,0.0,0.02,0.00,0.0
4,Ban Sabai,0.00,0.0,0.02,0.00,0.0,0.01,0.0,0.01,0.03,0.03,0.00,0.01,0.02,0.0,0.01,0.0,0.00,0.0,0.0,0.0,0.01,0.00,0.02,0.0,0.0,0.0,0.0,0.01,0.02,0.01,0.03,0.02,0.00,0.00,0.00,0.0,0.00,0.0,0.00,0.00,0.0,0.01,0.0,0.15,0.0,0.01,0.02,0.0,0.01,0.01,0.01,0.01,0.0,0.00,0.02,0.0,0.0,0.07,0.02,0.00,0.03,0.01,0.00,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.01,0.00,0.00,0.0,0.01,0.0,0.01,0.02,0.01,0.0,0.0,0.01,0.01,0.01,0.04,0.03,0.00,0.01,0.01,0.0,0.00,0.0,0.00,0.03,0.00,0.01,0.0,0.00,0.0,0.01,0.01,0.01,0.03,0.02,0.02,0.0,0.02,0.0,0.01,0.01,0.0

In [122]:
Reuilly_grouped.to_csv('Reuilly_grouped.csv')

In [123]:
Reuilly_grouped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Columns: 112 entries, Neighbourhood to Zoo Exhibit
dtypes: float64(111), object(1)
memory usage: 87.6+ KB

- Let's find the top venues in Reuilly

In [127]:
num_top_venues = 12

for hood in Reuilly_grouped['Neighbourhood']:
    #print("----"+hood+"----")
    Reuilly_temp = Reuilly_grouped[Reuilly_grouped['Neighbourhood'] == hood].T.reset_index()
    Reuilly_temp.columns = ['venue','freq']
    Reuilly_temp = Reuilly_temp.iloc[1:]
    Reuilly_temp['freq'] = Reuilly_temp['freq'].astype(float)
    Reuilly_temp = Reuilly_temp.round({'freq': 2})
    #print(Reuilly_temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    #print('\n')

### Let's put that into a pandas dataframe

- here is a function to sort the venues in descending order.

In [128]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

- Now let's create the new dataframe and display the top 12 venues for each neighborhood.

In [129]:
num_top_venues = 12

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighbourhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
Reuilly_neighbourhoods_venues_sorted = pd.DataFrame(columns=columns)

Reuilly_neighbourhoods_venues_sorted

Empty DataFrame
Columns: [Neighbourhood, 1st Most Common Venue, 2nd Most Common Venue, 3rd Most Common Venue, 4th Most Common Venue, 5th Most Common Venue, 6th Most Common Venue, 7th Most Common Venue, 8th Most Common Venue, 9th Most Common Venue, 10th Most Common Venue, 11th Most Common Venue, 12th Most Common Venue]
Index: []

In [131]:
Reuilly_neighbourhoods_venues_sorted['Neighbourhood'] = Reuilly_grouped['Neighbourhood']

Reuilly_neighbourhoods_venues_sorted.head()

,Neighbourhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue,11th Most Common Venue,12th Most Common Venue
0,Acqua di Parma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Amorino,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Au Bouquet Saint Paul,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Au Petit Thai,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Ban Sabai,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [132]:
for ind in np.arange(Reuilly_grouped.shape[0]):
    Reuilly_neighbourhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(Reuilly_grouped.iloc[ind, :], num_top_venues)

Reuilly_neighbourhoods_venues_sorted.head()

,Neighbourhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue,11th Most Common Venue,12th Most Common Venue
0,Acqua di Parma,French Restaurant,Hotel,Coffee Shop,Bakery,Clothing Store,Tea Room,Italian Restaurant,Plaza,Pizza Place,Tapas Restaurant,Art Museum,Art Gallery
1,Amorino,French Restaurant,Hotel,Clothing Store,Bakery,Coffee Shop,Tea Room,Plaza,Italian Restaurant,Tapas Restaurant,Art Gallery,Pizza Place,Seafood Restaurant
2,Au Bouquet Saint Paul,French Restaurant,Hotel,Bakery,Clothing Store,Garden,Art Gallery,Tea Room,Tapas Restaurant,Italian Restaurant,Plaza,Coffee Shop,Falafel Restaurant
3,Au Petit Thai,French Restaurant,Pastry Shop,Hotel,Clothing Store,Coffee Shop,Art Gallery,Tea Room,Tapas Restaurant,Garden,Italian Restaurant,Plaza,Ice Cream Shop
4,Ban Sabai,French Restaurant,Hotel,Pizza Place,Italian Restaurant,Cocktail Bar,Plaza,Bar,Bakery,Seafood Restaurant,Tapas Restaurant,Tea Room,Coffee Shop

In [134]:
Reuilly_neighbourhoods_venues_sorted.to_csv('Reuilly_neighbourhoods_venues_sorted.csv')

In [133]:
Reuilly_neighbourhoods_venues_sorted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 13 columns):
Neighbourhood             100 non-null object
1st Most Common Venue     100 non-null object
2nd Most Common Venue     100 non-null object
3rd Most Common Venue     100 non-null object
4th Most Common Venue     100 non-null object
5th Most Common Venue     100 non-null object
6th Most Common Venue     100 non-null object
7th Most Common Venue     100 non-null object
8th Most Common Venue     100 non-null object
9th Most Common Venue     100 non-null object
10th Most Common Venue    100 non-null object
11th Most Common Venue    100 non-null object
12th Most Common Venue    100 non-null object
dtypes: object(13)
memory usage: 10.2+ KB

<h1 align=center><font size = 12>.________________________________________________________________________.</font></h1>


<h1 align=center><font size = 6>3. Collaborate (15 marks)</font></h1>

<h1 align=center><font size = 4>Step in and collaborate to show python can help analyze real world data. The source document is stored on Github as a gist as well on the Coursera repository, which means you can fork it and use it as a start for you own data-hack. To contribute, just fork the gist as you would with any git repository. In the second half of the assignment, we will go on to do Inferential statistical testing, to analyze each neighborhood in New York, Toronto and Paris with k-means clustering algorithm to find the closest inter-city/neighborhood match. Machine Learning will be used to cluster the neighborhoods, write a report and publish the recommendations on a blog. Happy Hacking!!!</font></h1>

### Global Liveability Index [Report]( https://www.eiu.com/topic/liveabilit). 

- The rank is out of 140 global cities, the scores are in percent.  
- The overall rating is the combination of all the factors surveyed across the five main categories. 

#### We will simply constructing the dataframe from a numpy array as follows:

In [10]:
import numpy as np
import pandas as pd

#Creating pandas dataframe from numpy array
L_Ranking = pd.DataFrame(np.array([['Canada', 'Toronto', 4, 97.2, 100.0, 100.0, 97.2, 100.0, 89.3], 
                                   ['France', 'Paris', 29, 92.3, 75.0, 100.0, 97.2, 100.0, 96.4], 
                                   ['US', 'New York', 55, 86.6, 70.0, 91.7, 91.7, 100.0, 89.3]]),
                   columns=['Country', 'City', 'Rank', 'Overall_Rating', 'Stability', 'Healthcare', 'Culture_Environment', 'Education', 'Infrastructure'])

L_Ranking

,Country,City,Rank,Overall_Rating,Stability,Healthcare,Culture_Environment,Education,Infrastructure
0,Canada,Toronto,4,97.2,100.0,100.0,97.2,100.0,89.3
1,France,Paris,29,92.3,75.0,100.0,97.2,100.0,96.4
2,US,New York,55,86.6,70.0,91.7,91.7,100.0,89.3

In [ ]:
L_Ranking.to_csv('L_Ranking.csv')

<h1 align=center><font size = 12>.________________________________________________________________________.</font></h1>


<h1 align=center><font size = 6>3. Collaborate Github!!! (15 marks)</font></h1>

<h1 align=center><font size = 4>Step in and collaborate in making it a good example of how Python can help analyze real world data. The source document is stored on Github as a gist as well as in the Coursera repository, which means you can fork it and use it as a start for you own data-hack. To contribute, just fork the gist as you would with any git repository. In the second half of the assignment, we will go on to do Inferential statistical testing, to analyze each neighborhood in New York, Toronto and Paris with k-means clustering algorithm to find the closest inter-city/neighborhood match. Machine Learning will be used to cluster the neighborhoods, then the recommendations will be published on a blog.</font></h1>


<h1 align=center><font size = 12>.________________________________________________________________________.</font></h1>

#### Here is the link to the Ipython notebook hosted on Github, This notebook is an assignment for a course on **Coursera** called *Applied Data Science Capstone*, you can take this course online by clicking [here](http://cocl.us/DP0701EN_Coursera_Week3_LAB2):

## https://github.com/lindangulopez/Coursera_Capstone/blob/master/Capstone%20Project%20June%202019.ipynb




<h1 align=center><font size = 12>.________________________________________________________________________.</font></h1>